div{
background-color:burlywood;

}
 h1{
    
color: blueviolet;
}


p{
    color:darkred;
}
 h2{
    
color: blueviolet;
}


p{
    color:darkred;
}
 h3{
    
color: blueviolet;
}


p{
    color:darkred;
}
 h4{
    
color: blueviolet;
}


p{
    color:darkred;
}
 h5{
    
color: blueviolet;
}


p{
    color:darkred;
}